# Node modules
node_modules/
npm-debug.log

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env
.env.local

# Build output
dist/
build/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cloudflare Wrangler
.wrangler/

# Logs
logs
*.log
