# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OS & Windows OS temporary files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
*.stackdump

# Environment variables & local secrets
.env
.env.*
*.env
data.env

# Build outputs & Temp caches
dist/
build/
out/
.tmp/
*.tmp

# Editor & IDE settings
.vscode/
.idea/
.gemini/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# Cloudflare Wrangler & Serverless Caches
.wrangler/
.mf/

# Application Logs
logs
*.log
